* {
  box-sizing: border-box;
}
  body, html {
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: black;
  margin: 0px;
}

h1 {
  color: black;
  text-align: center;
  padding: 100 px;
  margin: 100 px;
}

p {
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: garamond;
  font-size: 20px;
  padding: 100px;
  margin: 100px;
}

li{
    display:table;
    margin:0px auto 0px auto;
}


