body {
  background-color: black;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: garamond;
  font-size: 20px;
  padding: 100px;
  margin: 100px;
}

li{
    display:table;
    margin:0px auto 0px auto;
}

p {
  background-image: url(..images/amazon.jpg);
}